@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Zen+Dots&display=swap');





.navbar-brand{
    font-family: 'Zen Dots', cursive;
    font-size: 1.5cm;
    font-style: oblique ;
}

.jumbotron{
    background-image: url(../img/jumbotron.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;

    
}

.jumbotron h1{
    text-shadow :3px 5px rgb(229, 255, 0) ;
    font-family: 'Coda Caption', sans-serif;
    font-style: oblique;
    font-size: 2.5cm;
    font-weight: bold;
    color: rgb(247, 251, 255);
    margin-left: 100px;
    padding-top: 30px;


}
.jumbotron>div{
    text-shadow :3px 5px rgb(229, 255, 0) ;
    font-family: 'Coda Caption', sans-serif;
    font-style: oblique;
    font-size: 2.5cm;
    font-weight: bold;
    color: rgb(247, 251, 255);
    margin-left: 100px;
    padding-top: 30px;
   


}


.jumbotron a {
    
    font-family: 'Noto Serif', serif; 
    font-size: xx-large; 
    margin-left: 33rem;
    margin-top: 5rem;
    color: white;
    
    
}

.jumbotron a:hover {
    text-decoration:solid;
    font-family: 'Noto Serif', serif; 
    font-size: xx-large;
    color: rgb(0, 0, 0);
    
}

